<h1><%= @facade.movie.title %></h1>

<%= button_to "Discover Movies", "/users/#{@facade.user_id}/discover", method: :get%>

<%= button_to "Create Viewing Party for #{@facade.movie.title}", "/users/#{@facade.user_id}/movies/#{@facade.movie_id}/viewing-party/new" %>

<div id="details">
  Vote Average: <%= @facade.movie.rating %>
  Runtime: <%= @facade.movie.formated_time %>
  Genre(s): <% @facade.movie.genres.each do |genre|  %>
    <%= genre[:name] %>
  <% end %>
</div>
<div id="summary">
  Summary: <%= @facade.movie.summary %>
  <br>
</div>
<div id="cast">
  Cast: <% @facade.cast.each do |member| %>
    <p><%= member.name %> as <%= member.character %></p>
  <% end %>
</div>

<div id="reviews">
  <%= @facade.reviews.count %> Reviews <br>
  <% @facade.reviews.each do |review| %>
    Author: <%= review.author %><br>
    <br>
    <%= review.content %>
  <% end %>
</div>
