<h2><%= @facade.user.name %>'s Dashboard</h2>

<%= button_to "Discover Movies", "/discover", method: :get%>
<br>
<br>
<h3>Viewing Parties</h3>
<hr>
<% @facade.parties.each do |party| %>
<div id="party-<%= @facade.movie(party).id %>">
  <img src="https://image.tmdb.org/t/p/w200/<%= @facade.movie(party).poster %>"><br>
  Title: <%= @facade.movie(party).title %><br>
  Date: <%= party.start_time.strftime("%B %d, %Y") %><br>
  Time: <%= party.start_time.strftime("%l:%M %p") %><br>

  <% if party.creator_id == @facade.user.id %>
    Host<br>
    Invited:
    <ul>
      <% party.users.each do |user| %>
        <% unless user.id == @facade.user.id %>
          <li><%= user.name %></li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    Host: <%= @facade.host(party) %><br>
    Invited:
    <ul>
      <% party.users.each do |user| %>
        <% if user.id == @facade.user.id %>
          <li><b><%= user.name %></b></li>
        <% elsif user.name != @facade.host(party) %>
          <li><%= user.name %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <hr>
</div>
<%end%>
